.login {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.username-block {
    margin: 10px 0px 10px 0px;
}

.password-block {
    margin: 10px 0px 10px 0px;
}

.signup-link {
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.signup {
    text-align: center;
    margin: 100px 0px 0px 0px;
}